<div class="context-header" fxFill fxLayout="row wrap" fxLayoutAlign="space-between end">
    <div class="header-title" fxLayout="column" fxFlex="20">
        <h2>TENANT SETTINGS</h2>
    </div>

    <div class="header-parent" fxLayout="column">
        <h5>Tenants / Settings</h5>
    </div>
</div>
<mat-divider></mat-divider>
<div class="main-container" fxLayout="row wrap" fxLayoutAlign="start start">
    <div class="settings-container" fxLayout="column" fxLayoutAlign="start start">

        <mat-accordion>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Application Styling
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notifications
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        User Experience
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>


            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Landing Page
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Financial & Banking
                    </mat-panel-title>
                </mat-expansion-panel-header>
        
                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>
        
                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Security & Privacy
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>Project</mat-label>
                    <select matNativeControl>
                        <optgroup label="Recent">
                        <option value="volvo">SFO Terminal 3 West Modernization</option>
                        </optgroup>
                        <optgroup label="Active">
                            <option value="volvo">SFO Terminal 3 West Modernization</option>
                            <option value="saab">BART Controls Modernization</option>
                            <option value="saab">Golden Gate Tennis Center</option>
                        </optgroup>
                        <optgroup label="Completed">
                        <option value="mercedes">SFO Terminal 1C/BAB</option>
                        <option value="audi">Gilead NB357 Pilot Lab</option>
                        <option value="hyatt">SFO Grand Hyatt Hotel</option>
                        <option value="tx">SFO Substation TX Bypass & Upgrade</option>
                        </optgroup>
                    </select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Database Settings
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Environment Variables
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <h3>Version: 0.8.5</h3>
                <h3>Active Tenants: 3</h3>
                <h3>Active Users: 32</h3>
                <h3>Server Status: Good</h3>
                <h3>Latency: 19 ms</h3>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        API Keys & Integrations
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="Primary Color">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Background Color">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primary Font">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Secondary Font">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <div class="app-information-container"  fxLayout="column" fxLayoutAlign="start start">
        <mat-card>
            <mat-card-title>
                App Information
            </mat-card-title>

            <h5>Version: 0.8.5</h5>
            <h5>Active Tenants: 3</h5>
            <h5>Active Users: 32</h5>
            <h5>Server Status: Good</h5>
            <h5>Latency: 19 ms</h5>
        </mat-card>
        
    </div>
</div>