
      <form [formGroup]="editTask">
          Value: {{ editTask.value | json }}
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Status" formControlName="status">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Description" formControlName="description">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Effort" formControlName="effort">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Priority" formControlName="priority">
          </mat-form-field>
        </div>
      </form>






