:host {
    display: block;
    margin: 24px;
  }
  
  .mat-row:hover {
    background-color: rgba(140, 145, 212, 0.199);
  }
  
  .page-title {
    display: inline-flex;
  }

  .nav-spacer {
    width: 5vh;
  }
  
  .main-container {
    display: flex;
    margin: 10px;
  }

  .header-title {
    min-width: 50vh;
  }

.mat-column-select {
    max-width: 50px;
  }
.mat-column-name {
  display: flex;
  min-width: 300px;
}
.mat-column-modified {
  display: flex;
  max-width: 20%;
  min-width: 100px;
}
.mat-column-team {
  display: flex;
  min-width: 200px;
}
.mat-table {
  width: 100%;
  min-width: fit-content;

}

.dropzone { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }

  .file-label {
      font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}