
  :host {
    display: block;
    margin: 24px;
  }

  .active-projects {
    min-width: 400px;
  }

  .team-feed {
    min-width: 400px;
  }
  .trending-documents {
    min-width: 400px;
  }
  .project-activity {
    min-width: 400px;
  }
  .active-tasks {
    min-width: 400px;
  }

  .time-management {
    min-width: 400px;
  }

  .best-practices {
    min-width: 400px;
  }

  .calendar {
    min-width: 400px;
  }
  .goal-tracking {
    min-width: 400px;
  }
  .onboarding {
    min-width: 450px;
  }
  .recent-files {
    min-width: 400px;
  }
  .goals {
    min-width: 400px;
  }
  .it-support {
    min-width: 400px;
  }

  .news-feed {
    min-width: 400px;
  }

