  <div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid" fxLayoutAlign="start center">
    <div class="active-projects" fxLayout="column" >
      <app-active-projects></app-active-projects>
    </div>

    <div class="project-activity" fxLayout="column" >
      <app-project-feed></app-project-feed>
    </div>

    <div class="active-tasks" fxLayout="column" >
      <app-active-tasks></app-active-tasks>

    </div>

    <div class="calendar" fxLayout="column" >
      <app-my-calendar></app-my-calendar>
    </div>

    <div class="news-feed" fxLayout="column" >
      <app-industry-news></app-industry-news>
    </div>
</div>
