<mat-nav-list>
  <mat-accordion>


    <mat-expansion-panel class="mat-elevation-z0" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PURSUE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/pursue/clients" routerLinkActive="active" class="pointer">Clients</h4> <br>
        <h4 routerLink="/auth/modules/pursue/proposals" routerLinkActive="active" class="pointer">Proposals</h4> <br>
        <h4 routerLink="/auth/modules/pursue/resumes" routerLinkActive="active" class="pointer">Resume Manager</h4><br>
        <h4 routerLink="/auth/modules/pursue/resources" routerLinkActive="active" class="pointer">Resource Loading</h4> <br>
        <h4 routerLink="/auth/modules/pursue/crm" routerLinkActive="active" class="pointer">CRM</h4> <br>
        <h4 routerLink="/auth/modules/pursue/rates" routerLinkActive="active" class="pointer">Rate Management</h4>

      </nav>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          RESEARCH
        </mat-panel-title>

      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/analytics/cost-indices/" routerLinkActive="active" class="pointer">Cost Indices</h4> <br>
        <h4 routerLink="/auth/modules/analytics/historical/" routerLinkActive="active" class="pointer">Historical Costs</h4> <br>
        <h4 routerLink="/auth/modules/analytics/trades/" routerLinkActive="active" class="pointer">Trade Labor</h4><br>
        <h4 routerLink="/auth/modules/analytics/calculators/" routerLinkActive="active" class="pointer">Calculators</h4><br>
        <h4 routerLink="/auth/modules/analytics/references/" routerLinkActive="active" class="pointer">Codes & References </h4>
      </nav>
    </mat-expansion-panel>


    <mat-expansion-panel class="mat-elevation-z0" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          DESIGN
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>

        <h4 routerLink="/auth/modules/design/survey/" routerLinkActive="active" class="pointer">Survey</h4> <br>
        <h4 routerLink="/auth/modules/design/programming/" routerLinkActive="active" class="pointer">Programming</h4> <br>
        <h4 routerLink="/auth/modules/design/systems/" routerLinkActive="active" class="pointer">Systems Design</h4> <br>
        <h4 routerLink="/auth/modules/design/review/" routerLinkActive="active" class="pointer">Design Review</h4> <br>
      </nav>
    </mat-expansion-panel>




    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ESTIMATE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/estimating/" routerLinkActive="active" class="pointer">Estimates</h4> <br>
        <h4 routerLink="/auth/modules/estimating/modeling" routerLinkActive="active" class="pointer">Cost Models</h4> <br>
        <h4 routerLink="/auth/modules/estimating/variance" routerLinkActive="active" class="pointer">Variance Reporting</h4> <br>
        <h4 routerLink="/auth/modules/estimating/items" routerLinkActive="active" class="pointer">Item Database</h4> <br>
        <h4 routerLink="/auth/modules/estimating/assemblies" routerLinkActive="active" class="pointer">Assemblies Catalog</h4> <br>
        <h4 routerLink="/auth/modules/estimating/database" routerLinkActive="active" class="pointer">Database Management</h4>
      </nav>
    </mat-expansion-panel>



    <mat-expansion-panel class="mat-elevation-z0" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          CONTROL
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/controls/bidding" routerLinkActive="active" class="pointer">Bidding</h4> <br>
        <h4 routerLink="/auth/modules/controls/budgets" routerLinkActive="active" class="pointer">Budgeting</h4> <br>
        <h4 routerLink="/auth/modules/controls/forecast" routerLinkActive="active" class="pointer">Cash Forecast</h4> <br>
        <h4 routerLink="/auth/modules/controls/inventory" routerLinkActive="active" class="pointer">Inventory</h4> <br>
        <h4 routerLink="/auth/modules/controls/schedule" routerLinkActive="active" class="pointer">Schedule</h4> <br>
        <h4 routerLink="/auth/modules/controls/contracts" routerLinkActive="active" class="pointer">Contracts</h4> <br>
        <h4 routerLink="/auth/modules/controls/vendors" routerLinkActive="active" class="pointer">Vendor Management</h4><br>
        <h4 routerLink="/auth/modules/controls/reports" routerLinkActive="active" class="pointer">Reporting</h4> <br>

      </nav>
    </mat-expansion-panel>



    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MANAGE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/management/actions" routerLinkActive="active" class="pointer">Action Log</h4> <br>
        <h4 routerLink="/auth/modules/management/submittals/" routerLinkActive="active" class="pointer">Submittals</h4> <br>
        <h4 routerLink="/auth/modules/management/inspections/" routerLinkActive="active" class="pointer">Inspections</h4> <br>
        <h4 routerLink="/auth/modules/management/rfis/" routerLinkActive="active" class="pointer">RFIs</h4> <br>
        <h4 routerLink="/auth/modules/management/meetings" routerLinkActive="active" class="pointer">Meetings</h4> <br>
        <h4 routerLink="/auth/modules/management/inspections/" routerLinkActive="active" class="pointer">Progress Tracking</h4> <br>
        <h4 routerLink="/auth/modules/management/reports" routerLinkActive="active" class="pointer">Reporting</h4>
      </nav>
    </mat-expansion-panel>



    <mat-expansion-panel class="mat-elevation-z0" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          COMMISSION
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/cx/systems/" routerLinkActive="active" class="pointer">Systems</h4> <br>
        <h4 routerLink="/auth/modules/cx/punchlist/" routerLinkActive="active" class="pointer">Punchlist</h4> <br>
        <h4 routerLink="/auth/modules/cx/activations/" routerLinkActive="active" class="pointer">Activation </h4> <br>
        <h4 routerLink="/auth/modules/cx/presentations/" routerLinkActive="active" class="pointer">Presentations</h4>
      </nav>
    </mat-expansion-panel>



    <mat-expansion-panel class="mat-elevation-z0" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MAINTAIN
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/maintenance/systems" routerLinkActive="active" class="pointer">Systems</h4> <br>
        <h4 routerLink="/auth/modules/maintenance/logs" routerLinkActive="active" class="pointer">Logs</h4> <br>
        <h4 routerLink="/auth/modules/maintenance/monitoring" routerLinkActive="active" class="pointer">Monitoring</h4>
      </nav>
    </mat-expansion-panel>



    <mat-expansion-panel class="mat-elevation-z0" style="position: absolute; bottom: 0px;" [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          SUCCESS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/success/slack" routerLinkActive="active" class="pointer">Slack Channel</h4> <br>
        <h4 routerLink="/auth/modules/success/time" routerLinkActive="active" class="pointer">Time Tracking</h4> <br>
        <h4 routerLink="/auth/modules/success/expenses" routerLinkActive="active" class="pointer">Expenses</h4> <br>
        <h4 routerLink="/auth/modules/success/goals" routerLinkActive="active" class="pointer">Goal Setting</h4> <br>
        <h4 routerLink="/auth/modules/success/support" routerLinkActive="active" class="pointer">IT Support Requests</h4> <br>
        <h4 routerLink="/auth/modules/success/test-prep" routerLinkActive="active" class="pointer">Test Prep</h4>
      </nav>
    </mat-expansion-panel>


    </mat-accordion>
</mat-nav-list>
