<mat-nav-list>
  <mat-accordion>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MODULE #1
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>

      </nav>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MODULE #2
        </mat-panel-title>

      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
      </nav>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MODULE #3
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
      </nav>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MODULE #4
        </mat-panel-title>
      </mat-expansion-panel-header>
      <nav>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
        <h4 routerLink="/auth/modules/" routerLinkActive="active" class="pointer">Submodule</h4> <br>
      </nav>
    </mat-expansion-panel>


    </mat-accordion>
</mat-nav-list>
