<div class="board-container" fxLayout="row-wrap" fxLayoutAlign="start start">
  <div
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="boards"
  (cdkDropListDropped)="drop($event)"
>

    <app-board cdkDrag *ngFor="let board of boards" [board]="board" >
      <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
    </app-board>
  </div>
  <div class="board-button">
    <button
      mat-raised-button
      color="accent"
      cdkDragDisabled
      (click)="openBoardDialog()"
    >
      New Board
    </button>
  </div>
</div>
