table {
  width: 100%;
}

a:link {
  text-decoration: none;
}

th.mat-header-cell {
  font-weight: bold;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-stroked-button {
  min-width: 20px;
}
