
<div class="user-table">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table  [dataSource]="activeAPIs" matSort class="animate">
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.firstName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.lastName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.email }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.phoneNumber }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="emailVerified">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Verified </mat-header-cell>
        <mat-cell *matCellDef="let data"> {{ data.emailVerified }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" >
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" >
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>

    <mat-paginator [length]="1" [pageSize]="1">
    </mat-paginator>
  </mat-card>
