.mat-row:hover {
  background-color: rgba(140, 145, 212, 0.199);
  cursor: pointer;
}

.header-title {
  min-width: 50vh;
}

.page-layout {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  min-width: 100%;
  position: relative;
}

:host {
  display: block;
  margin: 24px;
}

table {
  margin: 10px;
  width: 100%;
}

.task-table {
  margin-top: 20px;
}
