  :host {
    display: block;
    margin: 24px;
  }
  .message-container {
    margin: 20px;
  }
  .new-message {
    margin:20px;
  }
.mat-form-field {
  min-width: 550px;
}
.text-container {
  min-height: 350px;
}
