<div class="task-table">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table  [dataSource]="dataSource" [trackBy]="trackByUid" matSort class="animate">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.description }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.dueDate }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.status }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.priority }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="effort">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Effort </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.effort }} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" >
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let task; let i=index;">
          <button mat-icon-button color="accent" (click)="editTask(task)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
    </mat-table>

    <mat-paginator [length]="1" [pageSize]="1">
    </mat-paginator>
  </mat-card>
</div>
