
.navbar-container{
display: flex;
width: 100vw;
margin: 0px;
}

.mat-toolbar {
  max-height: 22px;
}

.brand-container {
  display: flex;
  min-width: fit-content;

}
.mat-form-field  {
  display: flex;
  font-size: 12px;
  min-width: fit-content;
}

h4 {
  font-size: 14px;
  margin: 3px;
  color: rgb(39, 39, 39);
}
.pointer {
  cursor: pointer;
}



@media only screen and (orientation:portrait){
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}
