  <div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid" >
    <div class="active-projects" fxLayout="column" >
      <client-active-projects></client-active-projects>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-team-activity></client-team-activity>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-trending-documents></client-trending-documents>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-project-feed></client-project-feed>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-my-calendar></client-my-calendar>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-recent-files></client-recent-files>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-support></client-support>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-active-tasks></client-active-tasks>
    </div>

    <div class="widget-container" fxLayout="column" >
      <client-industry-news></client-industry-news>
    </div>
    <div class="widget-container" fxLayout="column" >
      <p>Add custom widgets, pages, rename page, delete page, save with slide toggle edit mode</p>
    </div>
</div>
