<div class="main-container" fxLayout="row wrap" fxLayoutGap="25px grid">
  <mat-card>
    <mat-card-header>
      <mat-card-title>New User</mat-card-title>
      <mat-card-subtitle>Add a new user</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div
        class="form-container"
        fxLayout="row wrap"
        fxLayoutGap="15px grid"
        fxLayoutAlign="start start"
        fxFlex
      >
        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Last Name" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Work Email" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Mobile Phone" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Location" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Title" />
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <mat-label>Tenant</mat-label>
            <select matNativeControl>
              <option value="nunito">Hollins Consulting</option>
              <option value="roboto"
                >San Francisco International Airport</option
              >
              <option value="cabin">SFO PMSS</option>
              <option value="montserrat">Turner Construction</option>
              <option value="open-sans">Gilead Sciences, Inc.</option>
              <option value="lato">Facebook</option>
            </select>
          </mat-form-field><i class="fal fa-plus fa-xs"></i>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <mat-label>Department</mat-label>
            <select matNativeControl>
              <option value="nunito">Preconstruction</option>
              <option value="roboto">Engineering</option>
              <option value="cabin">Project Management</option>
              <option value="montserrat">Controls</option>
              <option value="open-sans">Business Development</option>
            </select>
          </mat-form-field>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-form-field>
            <mat-label>Role</mat-label>
            <select matNativeControl>
              <option value="nunito">Client User</option>
              <option value="roboto">Client Admin</option>
              <option value="cabin">Tenant User</option>
              <option value="montserrat">Tenant Manager</option>
              <option value="open-sans">Tenant Admin</option>
              <option value="lato">Global Admin</option>
            </select>
          </mat-form-field>
        <i class="fal fa-plus fa-xs"></i>
        </div>

        <div class="input-item" fxLayout="column">
          <mat-checkbox>Show First-Use Walkthough</mat-checkbox>
          <mat-checkbox>Send Welcome Email</mat-checkbox>
          <mat-checkbox>Send SMS Message</mat-checkbox>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color='primary' type="submit"  routerLink="/auth/modules/admin/users" routerLinkActive="active" class="pointer">Save</button>
      <button mat-raised-button color='accent' type="submit"  routerLink="/auth/modules/admin/users" routerLinkActive="active" class="pointer">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
